{% extends 'base.html' %}

{% block content %}
{% include 'topMenu.html' %}

<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth">
          <div class="row flex-grow mt-5">
              <div class="col-lg-4 mx-auto">
                  <div class="auth-form-light text-left p-4">
                      <h1>ToDo APP.</h1>
                      <div class="add-items d-flex">
                          <input type="text" class="form-control todo-list-input"
                              placeholder="What do you need to do today?">
                          <button class="add btn btn-gradient-danger font-weight-bold todo-list-add-btn"
                              id="add-task">Add</button>
                      </div>
                      <div class="list-wrapper">
                          <hr>
                          <p>ToDo List</p>
                          <hr>
                          
                          {% if not todos %}
                          <div class="text-center py-5" id="noRecord">
                              <h1><i class="mdi mdi-information-outline"></i></h1>
                              <h3>No List Found</h3>
                          </div>
                          {% endif %}
   
                          <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                              {% for data in todos %}
                          <li class="{% if data.is_completed %}completed{% endif %}" data-id="{{data.id}}">
                              <div class="form-check">
                                  <label class="form-check-label white-space-normal">
                                      <input class="checkbox" type="checkbox" {% if data.is_completed %} checked{% endif %}> {{data.todo}} <i
                                          class="input-helper"></i></label>
                              </div>
                              <i class="remove mdi mdi-close-circle-outline"></i>
                          </li>
                            {% endfor %}
                          </ul>
                          
                          <hr>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

  {% endblock %}

  {% block js %}
  <script>
    (function ($) {
        'use strict';
        $(function () {
            var todoListItem = $('.todo-list');
            var todoListInput = $('.todo-list-input');
            $('.todo-list-add-btn').on("click", function (event) {
                event.preventDefault();

                var item = $(this).prevAll('.todo-list-input').val();

                if (item) {

                    fetch("{% url 'addTodo_url' %}", {
                            method: 'POST',
                            body: JSON.stringify({
                                'todo': item,
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            }),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                        .then(response => {
                            if (response.ok) {
                                return response.json()
                            } else {
                                throw new Error(
                                    `${response.status} ${response.statusText} ${response.url}`
                                    );
                            }
                        })
                        .then(data => {
                            if (data.status) {
                              console.log(data.status)
                              console.log(data.id)
                                todoListItem.append("<li data-id='" + data.id +
                                    "'><div class='form-check'><label class='form-check-label white-space-normal'><input class='checkbox' type='checkbox'/>" +
                                    item +
                                    "<i class='input-helper'></i></label></div><i class='remove mdi mdi-close-circle-outline'></i></li>"
                                    );
                                todoListInput.val("");
                                if($('#noRecord').length){
                                    $('#noRecord').addClass('d-none');
                                }
                            } else {
                                throw new Error(data.message);
                            }
                        })
                        .catch(error => {
                          alert(error)
                        });

                }

            });

            todoListItem.on('change', '.checkbox', function () {
                var id = $(this).parent().parent().parent().attr("data-id")

                fetch("{% url 'updateTodo_url' %}", {
                        method: 'POST',
                        body: JSON.stringify({
                            'id': id
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => {
                        if (response.ok) {
                            return response.json()
                        } else {
                            throw new Error(
                                `${response.status} ${response.statusText} ${response.url}`);
                        }
                    })
                    .then(data => {
                        if (data.status) {
                            if ($(this).attr('checked')) {
                                $(this).removeAttr('checked');
                            } else {
                                $(this).attr('checked', 'checked');
                            }
                            $(this).closest("li").toggleClass('completed');
                        } else {
                            throw new Error(data.message);
                        }
                    })
                    .catch(error => {
                      alert(error)
                    });


            });

            todoListItem.on('click', '.remove', function () {
                var id = $(this).parent().attr("data-id")
                fetch("{% url 'deleteTodo_url' %}", {
                        method: 'POST',
                        body: JSON.stringify({
                            'id': id
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => {
                        console.log('response')
                        if (response.ok) {
                            return response.json()
                        } else {
                            throw new Error(
                                `${response.status} ${response.statusText} ${response.url}`);
                        }
                    })
                    .then(data => {
                        if (data.status) {
                            $(this).parent().remove();
                            if($('.todo-list-custom li').length == 0){
                                $('#noRecord').removeClass('d-none');
                            }
                        } else {
                            throw new Error(data.message);
                        }
                    })
                    .catch(error => {
                        alert(error)
                    });
            });

        });
    })(jQuery);
</script>
{% endblock %}
